@media (max-width: 600px) {
    .blog-post-card3-blog-post-card {
        width: initial;
        flex-direction: column;
    }

    .blog-post-card3-image {
        display: block;
        width: 100%;
    }
    
    .home-blog {
        padding: 30px;
    }

    .home-stats {
        width: 100%;
        display: grid;
        padding: 48px;
        grid-gap: 32px;
        max-width: 1400px;
        background-color: #85dcff;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .home-text01 {
        font-weight: bold;
    }

    .home-container06 {
        flex-direction: column;
    }

    .home-container07 {
        align-items: center;
    }

    .home-container08 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 32px
        
    }

    .home-container08 
    .home-container09,
    .home-container10{
        width: 100%;
        margin-right: 0px;
    }

    .home-header {
        display: block;
        height: auto;
    }

    .home-container01 {
        width: 100%;
    }

    .navigation-links-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .navigation-links-text{
        margin: 0px;
        font-weight: bold;
    }

    .navigation-links-text1{
        margin: 0px;
        font-weight: bold;
    }
}   
