@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

:root {
    --lightblue: #85dcff;
    --green: #42aa59;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter";
    line-height: 1.5;
    font-size: 14px;
}

body {
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card {
    max-width: 1200px;
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding: 3.5em 2.5em;
}


.card h1 {
    font-size: 42px;
    max-width: 15ch;
    line-height: 1.2;
    padding-bottom: 2rem;
}

.card img {
    max-width: 300px;
    border-radius: 0.1em;
    box-shadow: 0.5em 0.5em 1em 0 rgb(0,0,0,0.9);
}

.card .btn {
    display: flex;
    gap: 1em;
    padding-top: 2em;
}

button {
    padding: 1em 2em;
    border-radius: 0.3em;
    font-size: 14px;
    cursor: pointer;
}


.get-started {
    background-color: var(--green);
    border: 1px solid #000;
}

.get-started:hover {
    background-color: #000;
    color: #fff;
}

.learn-more {
    background-color: #fff;
    border: 1px solid #fff;
}