@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font: 16px/1.2 Helvetica, sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

form, textarea, input, label {
    font: inherit
}

form {
    width: 500px;
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    padding: 2em 2.5em 3.5em 2.5em;
}

header {
    padding-bottom: 2em;
}

header h2 {
    padding-bottom: 1em;
}

header .separator {
    width: 30%;
    height: 2px;
    background-color: #ccc;
}

.field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}

.field .label {
    order: -1;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.help-block {
    font-style: italic;
    font-size: 14px;
    color: #aaa;
    margin-top: 0.2em;
}

input {
    padding: 0.8em;
    border-radius: 0.3em;
    border: 2px solid #ccc;
    outline: none;
}

form input[required] ~ .label label::after {
    content: "*";
    color: red;
    margin-left: 2px;
    font-size: 16px;
}

form label:hover {
    cursor: pointer;
}

input:focus {
    border-color: orange;
}

input:focus ~ .label label{
    color: darkorange;
}

input:user-invalid {
    border-color: red;
}

input:user-invalid ~ .label label{
    color: red;
}

input:user-valid ~ .label label {
    color: #0eb80e;
}

input:user-valid {
    border-color: #0eb80e;
}

input[type=submit] {
    display: block;
    width: 100%;
    background-color: orange;
    margin-top: 0.5em;
    border: 2px solid orange;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}


input[type=submit]:hover {
    background-color: darkorange;
}

input[type=submit]:active {
    position: relative;
    top: 0.15em;
}