* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.css-box-model {
    width: 50vw;
}

.css-box-model div {
    border: 1px dashed #666;
    margin: 1em 2em 2em 2em;
}

.margin {
    background-color: #ff966f;
}

.border {
    background-color: #ffe8c6;
}

.padding {
    background-color: #85eb85;
}

.content {
    background-color: #a3d2e2;
    padding: 1em;
    text-align: center;
}

.content span {
    margin-top: 1rem;
    padding: 0.5rem;
}

.css-box-model .margin::before,
.css-box-model .border::before,
.css-box-model .padding::before {
    display: block;
    margin-bottom: -0.5rem; 
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.css-box-model .margin::before {
    content: "margin";
}

.css-box-model .border::before {
    content: "border";
}

.css-box-model .padding::before {
    content: "padding";
}


















/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.css-box-model {
    width: 50vw;
}

.css-box-model div {
    border: 1px dashed #666;
    margin: 1em 2em 2em 2em;
}

.margin {
    background-color: #ff966f;
}


.border {
    background-color: #ffe8c6;
}

.padding {
    background-color: #85eb85;
}

.content {
    background-color: #a3d2e2;
    padding: 1em;
    text-align: center;
}

.css-box-model .margin::before {
    content: "margin";
}

.css-box-model .border::before {
    content: "border";
}

.css-box-model .padding::before {
    content: "padding";
}
 */
