
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

.designed-card {
    width: 400px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    color: white;
}

.designed-card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
}

.designed-card .img-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.designed-card .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
} 

.designed-card .content .tag {
    font-size: 14px;
    color: rgb(131, 106, 6);
}

.designed-card .content .title {
    font-size: 18px;
    margin-bottom: 12px;
}

.designed-card .meta-info {
    display: grid;
    grid-template-columns: 20px 2fr 3fr;
    gap: 6px;

}

.designed-card .meta-info .writer {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
}

.designed-card .meta-info .writer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}